@font-face {
    font-family: 'BigBlueTerm437';
    src: url('../fonts/BigBlueTerm437NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BigBlueTerm437', sans-serif;
}

/* Apply the Nerd Font */
body {
    font-family: 'BigBlueTerm437', sans-serif;
}

/* Apply the Nerd Font to specific elements */
h1, h2, h3, h4, h5, h6, .site-title, .site-title:visited  {
    font-family: 'BigBlueTerm437', sans-serif;
    color: limegreen;
}
